<div id="cookiePolicyProject">
    <div class="cookies-info card fixed-bottom" style="border-top: 2px solid #008ac9 !important; margin-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10" style="padding: 20px 16px">
                    <p><strong>COOKIES INFORMATION:</strong></p>
                    <div style="background-color:#fff;">
                        <p>Due to the fact that "cookies" are used on the <strong>Project</strong> website, the Company
                            - Entity informs you about the privacy policy used in the Project system. At the same time,
                            we point out that the use of
                            website without changing your browser settings means that you accept receiving "cookies".
                            You can change your cookie settings at any time. More information in <a
                                href="/privacy-policy/">Privacy policy</a>.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 text-center d-flex align-items-center">
                    <button class="btn btn-primary mr-auto ml-auto" type="button" onclick="closeCookieWindow()">I
                        agree</button>
                </div>
            </div>
        </div>
    </div>
</div>