<div class="site-divider"></div>
<div class=" text-secondary px-4 py-5 text-center">
    <div class="py-1">
        <h3 class="text">Ipsum 2026</h3>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Aenean ornare est et libero rutrum mattis. Sed rhoncus sapien quis lorem molestie
                ornare. Suspendisse potenti. Morbi rhoncus sodales gravida. Vivamus vel turpis id enim posuere pretium
                volutpat sit amet augue. Ut mollis neque at pretium posuere. Duis malesuada, diam volutpat porta
                faucibus, arcu metus ultricies nulla, eget gravida libero turpis id turpis. Nam volutpat semper viverra.
            </p>
        </div>
    </div>
</div>