<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../Shared/headers') %>
    <body>
      <%- body %>
    </body>
    <%- include('../Shared/footer')%>
  </body>
</html>
