@import url("wcag.css");
@import url("cookies.css");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

a {
  color: #00B7FF;
}

.container {
  max-width: 960px;
}

main {
  min-height: 25rem;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.main {
  display: flex;
  flex-wrap: nowrap;
}